venv/
.venv/
node_modules/
__pycache__/
*.pyc
*.pyo
.DS_Store
.env
media/
db.sqlite3
*.egg-info/
dist/
build/
staticfiles/
static/css/output.css
*.log
*.err
server_*.txt
lo\ que\ llevo.txt
ConectArte_Documentacion_Tecnica_V3.pdf
